{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- TAB TITLE -->
        <title>Bona</title>
        <!-- VIEWPORT  -->
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <!-- LINK -->
        <link href="{% static 'bona_static/style.css' %}" rel="stylesheet">
    </head>
    <body>
        <!-- HEADER -->
        <header class="header">
            <!-- HEADER LOGO -->
            <h1 class="header_logo">Bona</h1>
            <!-- HEADER NAVIGATION -->
            <nav class="header_nav">
                <li class="nav_item"><a>Home</a></li>
                <li class="nav_item"><a>TV Shows</a></li>
                <li class="nav_item"><a>Movies</a></li>
                <li class="nav_item"><a>Kids</a></li>
                <li class="nav_item"><a>My List</a></li>
            </nav>
            <!-- HEADER OPTIONS -->
            <div class="header_options">
                <div class="header_search"><img src="{% static "icons/search_icon.png" %}"></div>
                <div class="header_notification"><img src="{% static 'icons/notification_icon.png' %}"></div>
                <div class="header_settings"><img src="{% static 'icons/options_icon.png' %}"></div>
                <div class="header_user"><div>A</div></div>
            </div>
        </header>
        <main class="main_section"> 
            <video class="background_video" width="800" height="500">
                <source src="{% static 'movies/movie night/movie_night_trailer.mp4' %}" type="video/mp4">
                    Your browser doesn't support this video format
            </video>
            <div class="video_gradient"></div>
            <section class="section_1">
                <div class="section_1_details">
                    <div class="kids_options">
                        <label class="kids_label" for="kids">Kids</label>
                        <select class="kids_select" name="kids">
                            <options class="select_option" value="">Action</options>
                            <options class="select_option" value="">Anime</options>
                            <options class="select_option" value="">Award-Winning</options>
                            <options class="select_option" value="">Classics</options>
                            <options class="select_option" value="">Comedy</options>
                            <options class="select_option" value="">Crime</options>
                            <options class="select_option" value="">Documentaries</options>
                            <options class="select_option" value="">Dramas</options>
                            <options class="select_option" value="">Fantasy</options>
                            <options class="select_option" value="">Horror</options>
                            <options class="select_option" value="">Kids &amp; Family</options>
                            <options class="select_option" value="">Musicals</options>
                            <options class="select_option" value="">Romance</options>
                            <options class="select_option" value="">Sci-Fi</options>
                            <options class="select_option" value="">Sports</options>
                            <options class="select_option" value="">Stand-Up Comedy</options>
                            <options class="select_option" value="">Thriller</options>
                        </select>
                    </div>
                    <div class="section_1_video_type">A <span>Bona</span> Movie</div>
                    <img class="section_1_image" src="{% static "movies/movie night/movie_night_logo.png" %}">
                    <p class="section_1_description">A group of friends gather together to play for a movie night only to discover that they have been living in each other's bodies and have to figure out how to reverse the curse.</p>
                    <div class="section_1_options">
                        <div class="section_1_play">Play</div>
                        <div class="section_1_moreinfo">More Info</div>
                    </div>
                    <div class="section_1_notes">
                        <div class="section_1_tags"><div class="section_1_tag">Comedy</div><div class="section_1_tag">Horror</div></div>
                        <div class="section_1_age">+13</div>
                    </div>
                </div>
            </section>
            <section class="section_2">
                <div class="section_2_slider_1">
                    <div class="movie_list_name">For You</div>
                    <div class="movie_list">
                        <div class="section_2_prev"><img class="section_2_prev_button" src="{% static 'icons/sort_left.png' %}"></div>
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}"
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                        <div class="section_2_next"><img class="section_2_next_button" src="{% static 'icons/sort_right.png' %}"></div>
                    </div>
                </div>
                <div class="section_2_slider_2">
                    <div class="movie_list_name">For You</div>
                    <div class="movie_list">
                        <div class="section_2_prev"><img class="section_2_prev_button" src="{% static 'icons/sort_left.png' %}"></div>
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                        <div class="section_2_next"><img class="section_2_next_button" src="{% static 'icons/sort_right.png' %}"></div>
                    </div>
                </div>
                <div class="section_2_slider_3">
                    <div class="movie_list_name">For You</div>
                    <div class="movie_list">
                        <div class="section_2_prev"><img class="section_2_prev_button" src="{% static 'icons/sort_left.png' %}"></div>
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                        <div class="section_2_next"><img class="section_2_next_button" src="{% static 'icons/sort_right.png' %}"></div>
                    </div>
                </div>
                <div class="section_2_slider_4">
                    <div class="movie_list_name">For You</div>
                    <div class="movie_list">
                        <div class="section_2_prev"><img class="section_2_prev_button" src="{% static 'icons/sort_left.png' %}"></div>
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                        <div class="section_2_next"><img class="section_2_next_button" src="{% static 'icons/sort_right.png' %}"></div>
                    </div>
                </div>
                <div class="section_2_slider_5">
                    <div class="movie_list_name">For You</div>
                    <div class="movie_list">
                        <div class="section_2_prev"><img class="section_2_prev_button" src="{% static 'icons/sort_left.png' %}"></div>
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                        <div class="section_2_next"><img class="section_2_next_button" src="{% static 'icons/sort_right.png' %}"></div>
                    </div>
                </div>
                <div class="section_2_slider_6">
                    <div class="movie_list_name">For You</div>
                    <div class="movie_list">
                        <div class="section_2_prev"><img class="section_2_prev_button" src="{% static 'icons/sort_left.png' %}"></div>
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                            <img class="movie_item" src="{% static 'movies/A Quiet Place, Day One/a_quiet_place_picture.jpg' %}">
                        <div class="section_2_next"><img class="section_2_next_button" src="{% static 'icons/sort_right.png' %}"></div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>