{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- TAB TITLE -->
        <title>Sign-Up To Bona</title>
        <!-- VIEWPORT -->
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <!-- LINK -->
        <link href="{% static 'bona_static/signup.css' %}" rel="stylesheet">
    </head>
    <body class="body">
        <!-- LOGIN CARD -->
        <div class="signup_card">
            <!-- LOGIN HEADER -->
            <h1 class="signup_header">Sign-Up into <span>Bona</span></h1>
            <!-- LOGIN FORM -->
            <form action="{% url 'signup' %}" class="signup_form" method="post">
                {% csrf_token %}
                <label class="signup_label"  for="username">Username</label>
                <input class="signup_input" type="text" placeholder="Enter Username" name="username" required>
                <label class="signup_label" for="email">Email</label>
                <input class="signup_input" type="text" placeholder="Enter Your Email" name="email" required>
                <label class="signup_label" for="password">Password</label>
                <input class="signup_input" type="text" placeholder="Enter Password" name="password" required>
                <label class="signup_label" for="password_confirm">Confirmation Password</label>
                <input class="signup_input" type="text" placeholder="Confirm Password" name="password_confirm" required>
                <button class="signup_submit" type="submit">Submit</button>
                <div class="signup_footer">Don't Have An Account? <a url="">Login</a></div>
            </form>
        </div>
    </body>
</html>