/*================== IMPORTING CSS STYLE ===================*/
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Bungee+Hairline&display=swap');

/*===================== HEADER SECTION =======================*/

/* HEADER */
header {
    height: 60px;
    width: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: transparent;
    background-image: linear-gradient(to right,rgb(16, 37, 48), rgb(4, 4, 5));
}
/* HEADER LOGO */
header .header_logo {
    color: white;
    color: rgb(28, 231, 131);
    margin-left: 20px;
    font-family: 'Bungee', serif;
    font-style: normal;
}
header .header_logo:hover {
    color: rgba(28, 231, 131,0.7);
    cursor: pointer;
}
/* HEADER NAVIGATION */
header .header_nav {
    color: white;
    margin-right: 200px;
    display: flex;
    flex-direction: row;
}
header .header_nav .nav_item {
    padding: 10px 20px;
    list-style: none;
}
header .header_nav .nav_item a {
    text-decoration: none;
    color: rgb(28, 231, 131);
    font-family: 'Bungee Hairline', serif;
    font-style: normal;
    font-weight: bold;
}
header .header_nav .nav_item a:hover {
    color: rgba(28, 231, 131,0.7);
    cursor: pointer;
}
/* HEADER OPTIONS */
header .header_options {
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
}

header .header_options .header_search {
    padding-left: 200px;
}
header .header_options .header_search img {
    height: 30px;
    padding: 5px;
}

header .header_options .header_notification img {
    height: 30px;
    padding: 5px;
}

header .header_options .header_settings img {
    height: 30px;
    padding: 5px;
}

header .header_options .header_user div {
    height: 35px;
    width: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 231, 131);
    border-radius: 15px;
    margin-bottom: 5px;
    font-family: 'Bungee Hairline', serif;
    font-style: normal;
    font-weight: bold;
    color: rgb(16, 37, 48);
}
header .header_options .header_user div:hover {
    background-color: rgba(28, 231, 131,0.7);
    cursor: pointer;
}

/*================== MAIN SECTION =====================*/

/* MAIN SECTION */

.main_section {
    height: 100%;
    width: 100%;
    margin: 0px;
}

/* SECTION 1 */
.section_1 {
    height: 100%;
    width: 100%;
    margin: 0px;
    background-color: transparent;
    background-image: linear-gradient(to right,rgb(16, 37, 48), rgb(4, 4, 5));
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.section_1 .movie_item {
    height: 230px;
    border-radius: 15px;
    padding: 10px;
    border-radius: 40px;
}
