{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- TAB TITLE -->
        <title>Login To Bona</title>
        <!-- VIEWPORT -->
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <!-- LINK -->
        <link href="{% static 'bona_static/login.css' %}" rel="stylesheet">
    </head>
    <body class="body">
        <!-- LOGIN CARD -->
        <div class="login_card">
            <!-- LOGIN HEADER -->
            <h1 class="login_header">Login into <span>Bona</span></h1>
            <!-- LOGIN FORM -->
            <form action="" class="login_form" method="post">
                {% csrf_token %}
                <label class="login_label"  for="username">Username</label>
                <input class="login_input" type="text" placeholder="Enter Username" name="username" required>
                <label class="login_label" for="password">Password</label>
                <input class="login_input" type="text" placeholder="Enter Password" name="password" required>
                <button class="login_submit" type="submit">Submit</button>
                <div class="login_footer">Don't Have An Account? <a url="">Sign-Up</a></div>
            </form>
        </div>
    </body>
</html>